# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: go build .

    - name: Test
      run: go test .
    
    - name: Upload build artifacts (上传构建产物)
      uses: actions/upload-artifact@v3
      with:
        name: dist
        path: ./tuxiaocao
        
    - name: CINotify Email
    # You may pin to the exact commit or the version.
    # uses: cinotify/github-action@54636e4cba2c7409a15a7061dcfb9af9eae18672
      uses: cinotify/github-action@v1.4.0
      with: 
      # Recipient email address
        to: julone@qq.com
      # Email subject
        subject: asdf 
      # Email body
        body: 构建go应用功能
